.filter-buttons-container{
    display: flex;
    gap: 10px;
    width: fit-content;
    margin-top: 10px;
}

.games-container{
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 16px;
}

.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    .pagination{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-top: 20px;
        font-size: 16px;
        list-style: none;
    }
}


.arrow{
    cursor: pointer;
    padding: 5px 40px;
}

.number{
    padding: 5px 10px;
    cursor: pointer;

    &:hover{
        background-color: #4D4D4D;
        border-radius: 5px;
    }
}

.active{
    background-color: #4D4D4D;
    border-radius: 5px;
    padding: 5px 10px;
}