.button {
  border: none;
  min-width: fit-content;
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-height: 44px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}

.filled {
  background-color: #f0f0f0;
  color: black;

  &:hover {
    background-color: #f0f0f09f;
  }
}

.no-filled {
  background-color: transparent;
  color: white;
  text-decoration: underline;

  &:hover {
    color: rgba(255, 255, 255, 0.719);
  }
}
