@use "../../../colors.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: colors.$background-color;
  box-shadow: colors.$background-color 0 0 5px 15px;
  gap: 32px;
  z-index: 1000;
  box-sizing: border-box;

  .profile {
    svg {
      width: 50px;
      height: 50px;
    }
  }

  .logo {
    width: fit-content;
    cursor: pointer;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      width: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 10px;
    .profile {
      svg {
        width: 30px;
        height: 30px;
      }
    }

    .logo {
      width: 30px;
      font-size: 0;
      img {
        width: 30px;
      }
    }
  }
}
