.banner {
  width: 100%;
  max-width: 1200px;
  height: 420px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-sizing: border-box;

  .info-container {
    width: 256px;
    height: 100%;
    background-color: #29292dbe;
    border-radius: 20px;
    padding: 24px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .platforms-container {
        width: 100%;
      }

      .description {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        -webkit-box-orient: vertical;
        margin: 0;
        font-size: 14px;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .genres {
        margin: 0;
        color: #cacaca;
        font-size: 14px;
      }
    }
  }
}

@keyframes zoomImage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
