$neutral-800: #242426;
$neutral-700: #2B2B2D;
$neutral-500: #474749;
$neutral-400: #5F5F64;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

$background-color: #1C1C1F;
$text-color: #fff;