$neutral-800: #242426;
$neutral-700: #2b2b2d;
$neutral-600: #333333;
$neutral-500: #474749;
$neutral-400: #5f5f64;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

$background-color: #1c1c1f;
$text-color: #fff;
